<div class="card text-black border-0 p-1 w-100 h-auto rounded-0">
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-11">
                <div class="fw-semibold">
                    <app-title title="Información Plaza Laboral"></app-title>
                </div>
                <form [formGroup]="form" class="text-start mt-3">
                    <div class="row">
                        <div class="container-input">
                            <label> Titulo </label>
                            <div class="input-box rounded-1 shadow-sm">
                                <div class="icon">
                                    <i class="bi bi-person-standing"></i>
                                </div>
                                <input class="input" type="text" autocomplete="off" formControlName="titulo" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-input">
                            <label> Cupos </label>
                            <div class="input-box rounded-1 shadow-sm">
                                <div class="icon">
                                    <i class="bi bi-person-standing"></i>
                                </div>
                                <input class="input" type="text" autocomplete="off" formControlName="cupos" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-input">
                            <label> Modalidad </label>
                            <div class="input-box rounded-1 shadow-sm">
                                <div class="icon">
                                    <i class="pi pi-id-card"></i>
                                </div>
                                <input class="input" type="text" autocomplete="off" formControlName="modalidad"
                                    readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-input">
                            <label> Contrato </label>
                            <div class="input-box rounded-1 shadow-sm">
                                <div class="icon">
                                    <i class="pi pi-envelope"></i>
                                </div>
                                <input class="input" type="text" autocomplete="off" formControlName="contrato" readonly>
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="container-input">
                            <label> Descripcion </label>
                            <div class="input-box rounded-1 shadow-sm">
                                <div class="icon">
                                    <i class="pi pi-envelope"></i>
                                </div>
                                <input class="input" type="text" autocomplete="off" formControlName="descripcion" readonly>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>