<section class="p-3">
  <header class="d-flex align-items-center py-3 bg-dark px-4 text-white">
    <i class="pi pi-gauge fs-3"></i>
    <span class="ps-3 font-astonpoliz fs-3">Dashboard</span>
  </header>
  <main>
    <div class="row m-0 gap-5 mt-5">
      <div class="col-12 p-0">
        <app-card-header />
      </div>
      <div class="row m-0 p-0">
        <div class="col-12 col-lg-6">
          <app-card-contrato />
        </div>
        <div class="col-12 col-lg-6 mt-5 mt-lg-0">
          <app-card-informacion />
        </div>
      </div>
      <div class="row m-0 p-0">
        <div class="col-12 col-lg-6">
          <app-card-modalidad />
        </div>
        <div class="col-12 col-lg-6 mt-5 mt-lg-0">
          <app-card-permisos />
        </div>
      </div>
    </div>
  </main>
</section>