<div class="container-fluid w-100 d-flex justify-content-center align-items-center">
    <div class="container d-flex flex-column flex-md-row justify-content-evenly align-items-center">
        <div class="card">
            <i class="bi bi-receipt-cutoff"></i>
            <div class="header mt-2">Cuestionario Uno</div>
            <div class="container-btn">
                <button type="submit" class="btn-custom shadow-sm" (click)="openCuestionarioUno(true)">
                    <span>Realizar</span>
                </button>
            </div>
        </div>
        <div class="card mt-4 mt-md-0">
            <i class="bi bi-cup-hot-fill"></i>
            <div class="header mt-2">Cuestionario Dos</div>
            <div class="container-btn">
                <button type="submit" class="btn-custom shadow-sm" (click)="openCuestionarioUno(false)">
                    <span>Realizar</span>
                </button>
            </div>
        </div>
    </div>
</div>