<div class="container-fluid w-100 py-0">

    <div class="row row-cols-2">
        <div class="container-input h-auto col-8 col-lg-10 bg-white pe-0">
            <div class="input-box shadow-sm">
                <div class="icon">
                    <i class="pi pi-search"></i>
                </div>
                <input class="input" type="text" placeholder="Filtrar.." (keyup)="applyFilter($event)" #input
                autocomplete="off">
            </div>
        </div>
        <div class="col-4 col-lg-2">
            <button type="submit" class="btn-custom py-3 shadow-sm" (click)="openAgregar()">
                <span>Nuevo tipo permiso</span>
            </button>
        </div>
    </div>

    @if (loading()) {
        <div class="container-progress my-2">
            <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
        </div>
    }

    <div class="container-table mt-1">
        
        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="nombres">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nombres}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="fechaRegistro">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Registrada</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fechaRegistro | date:"MMM dd, yyy"}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="permisoTipo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.permisoTipo}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="badge px-4 py-2 fw-semibold" [ngClass]="getEstadoClass(element.estado)">
                        {{ element.estado === 'E' ? 'En espera' : element.descripcionEstado }}
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef class="text-center">
                    <span class="w-100">Acciones</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="d-flex justify-content-center">
                    <div class="container-actions row row-cols-3 flex-nowrap">
                        <button type="submit" class="col-3"
                            (click)="openDetalle(element)">
                            <i class="pi pi-eye"></i>
                        </button>
                        @if (element.estado === 'E') {
                        <button type="submit" class="col-3"
                            (click)="openAceptar(element)">
                            <i class="pi pi-file-check"></i>
                        </button>
                        <button type="submit" class="col-3"
                            (click)="openRechazar(element)">
                            <i class="pi pi-file-excel"></i>
                        </button>
                        }
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" class="table-header"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[25]" [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>
    </div>

</div>