<div class="services">
    <div class="card m-3 rounded-0 p-1 bg-white overflow-hidden">
        <div class="position-relative top-section d-flex flex-column overflow-hidden">
            <div class="border border-0 position-absolute z-1"></div>
            <img src="../../../../../../assets/image/postulante/service-1.png" alt="" class="object-fit-cover">
        </div>
        <div class="bottom-section mt-2 px-1 py-2">
            <span class="title d-block font-astonpoliz fw-medium text-black text-center">OFERTAS</span>
            <div class="row d-flex justify-content-between mt-4">
                <div class="item">
                    <span class="big-text">2626+</span>
                    <span class="regular-text">Disponibles</span>
                </div>
                <div class="item">
                    <span class="big-text">38,631</span>
                    <span class="regular-text">Contributers</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-3 rounded-0 p-1 bg-white overflow-hidden">
        <div class="position-relative top-section d-flex flex-column overflow-hidden">
            <div class="border border-0 position-absolute z-1"></div>
            <img src="../../../../../../assets/image/postulante/service-2.png" alt="" class="object-fit-cover">
        </div>
        <div class="bottom-section mt-2 px-1 py-2">
            <span class="title d-block font-astonpoliz fw-medium text-black text-center">OFERTAS</span>
            <div class="row d-flex justify-content-between mt-4">
                <div class="item">
                    <span class="big-text">2626+</span>
                    <span class="regular-text">Disponibles</span>
                </div>
                <div class="item">
                    <span class="big-text">38,631</span>
                    <span class="regular-text">Contributers</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-3 rounded-0 p-1 bg-white overflow-hidden">
        <div class="position-relative top-section d-flex flex-column overflow-hidden">
            <div class="border border-0 position-absolute z-1"></div>
            <img src="../../../../../../assets/image/postulante/service-3.png" alt="" class="object-fit-cover">
        </div>
        <div class="bottom-section mt-2 px-1 py-2">
            <span class="title d-block font-astonpoliz fw-medium text-black text-center">OFERTAS</span>
            <div class="row d-flex justify-content-between mt-4">
                <div class="item">
                    <span class="big-text">2626+</span>
                    <span class="regular-text">Disponibles</span>
                </div>
                <div class="item">
                    <span class="big-text">38,631</span>
                    <span class="regular-text">Contributers</span>
                </div>
            </div>
        </div>
    </div>
</div>