<section class="services">
    @for (item of card; track $index) {
        <div class="parent" [class]="getClass($index)">
            <div class="card">
                <div class="content-box">
                    <span class="card-title">{{item.label}}</span>
                    <p class="card-content">{{item.text}}</p>
                    <span class="see-more">{{item.value}}+</span>
                </div>
                <div class="date-box">
                    <i class="{{item.icon}}"></i>
                </div>
            </div>
        </div>
    }
</section>