<div class="container-fluid w-100 py-0">

    <div class="row row-cols-2">
        <div class="container-input h-auto col-8 col-lg-10 bg-white pe-0">
            <div class="input-box shadow-sm">
                <div class="icon">
                    <i class="pi pi-search"></i>
                </div>
                <input class="input" type="text" placeholder="Filtrar.." (keyup)="applyFilter($event)" #input
                    autocomplete="off">
            </div>
        </div>
        <div class="col-4 col-lg-2">
            <button type="submit" class="btn-custom py-3 shadow-sm" (click)="openAgregar()">
                <i class="pi pi-plus"></i>
            </button>
        </div>
    </div>

    @if (loading()) {
    <div class="container-progress my-2">
        <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
    </div>
    }

    <div class="container-table mt-1">

        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="titulo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Título</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.titulo}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cupos">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Vacantes</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.cupos }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="modalidad">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Modalidad</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.modalidad}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="contrato">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Contrato</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.contrato}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef class="text-center">
                    <span class="w-100">Acciones</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="d-flex justify-content-center">
                    <div class="container-actions row row-cols-3 flex-nowrap">
                        <button type="submit" class="col-3 btn-search" (click)="openInformacion(element)">
                            <i class="pi pi-eye"></i>
                        </button>
                        <button type="submit" class="col-3 btn-edit" (click)="openModificar(element)">
                            <i class="pi pi-user-edit"></i>
                        </button>
                        <button type="submit" class="col-3 btn-delete" (click)="openEliminar(element)">
                            <i class="pi pi-trash"></i>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" class="table-header"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[25]" [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>
    </div>

</div>