<div class="container-fluid w-100 py-0 mt-4">

    <div class="container-input h-auto bg-white">
        <div class="input-box shadow-sm">
            <div class="icon">
                <i class="pi pi-search"></i>
            </div>
            <input class="input" type="text" placeholder="Filtrar.." (keyup)="applyFilter($event)" #input
                autocomplete="off">
        </div>
    </div>

    @if (loading()) {
        <div class="container-progress my-2">
            <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
        </div>
    }

    <div class="container-table mt-1">

        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="tipo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.permisoTipo}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="fechaRegistro">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Registrada</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fechaRegistro | date:"MMM dd, yyyy"}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.descripcion}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="certificado">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Certificado</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="container-actions">
                        @if (element.certificado) {
                            <button type="submit" class="btn-pdf text-center d-flex justify-content-center px-4"
                                (click)="downloadPDF(element.certificado, 'certificado.pdf')">
                                <i class="pi pi-file-pdf"></i>
                            </button>
                        }
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="badge px-4 py-2" [ngClass]="getEstadoClass(element.estado)">
                        {{ element.estado === 'E' ? 'En espera' : element.descripcionEstado }}
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef class="text-center">
                    <span class="w-100">Acciones</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="d-flex justify-content-center">
                    <div class="container-actions row row-cols-3 flex-nowrap">
                        <button type="submit" class="col-3" (click)="openInfo(element)">
                            <i class="pi pi-eye"></i>
                        </button>
                        @if (element.estado === 'E') {
                            <button type="submit" class="col-3" (click)="openEditar(element)">
                                <i class="pi pi-user-edit"></i>
                            </button>
                        }
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" class="table-header"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[25]" [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>
    </div>

</div>