<section class="overflow-hidden">
  <div class="card rounded-0">
    <ngx-charts-bar-horizontal-2d
      [view]="view"
      [scheme]="colorScheme"
      [results]="list"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [animations]="true"
      [legendPosition]="legendPosition"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-horizontal-2d>
  </div>
</section>