<div class="card text-black border-0 p-1 w-100 h-auto rounded-0">
    <div class="card-body">
        <span class="fw-bold my-2 fs-5 font-astonpoliz">Información del Empleado</span>
        <hr class="w-75">
        <div class="row row-cols-2 font-astonpoliz mb-2">
            <span class="col-4">Nombres:</span>
            <strong>{{data.nombres}}</strong>
        </div>
        <div class="row row-cols-2 font-astonpoliz mb-2">
            <span class="col-4">Apellidos:</span>
            <strong>{{data.apellidos}}</strong>
        </div>
        <div class="row row-cols-2 font-astonpoliz mb-2">
            <span class="col-4">Cédula:</span>
            <strong>{{data.cedula}}</strong>
        </div>
        <div class="row row-cols-2 font-astonpoliz mb-2">
            <span class="col-4">Correo:</span>
            <strong>{{data.correo}}</strong>
        </div>
        <div class="row row-cols-2 font-astonpoliz mb-2">
            <span class="col-4">Dirección:</span>
            <strong>{{data.direccion}}</strong>
        </div>
        <div class="row row-cols-2 font-astonpoliz mb-2">
            <span class="col-4">Usuario:</span>
            <strong>{{data.usuario}}</strong>
        </div>
        <div class="row row-cols-2 font-astonpoliz mb-2">
            <span class="col-4">Contraseña:</span>
            <strong>{{data.contrasena}}</strong>
        </div>
    </div>
</div>