.card {
    background-color: var(--orange-custom);
}

.card-body {
    background-color: white;
    border-radius: 0.4rem;
    border-top-right-radius: 40%;
}

strong {
    text-transform: capitalize;
    font-weight: 550;
    color: black;
}

@media (width < 777px) {
    .card-body {
        border-top-right-radius: 0.4rem;
    }
}