<div class="card text-black border-0 p-1 w-100 h-auto rounded-0">
    <div class="card-body">
        <div class="fw-semibold">
            <app-title title="Información del Empleado"></app-title>
        </div>
        <hr class="w-75">
        @for (item of employeeInfo; track $index) {
            <div class="row row-cols-2 font-astonpoliz mb-2">
                <span class="col-4">{{ item.label }}:</span>
                <strong>{{ item.value }}</strong>
            </div>
        }
    </div>
</div>