<div class="card text-black border-0 w-100 h-auto rounded-0">
    <div class="card-body py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-11">
                <span class="fw-bold fs-3 font-raleway">{{ title + ' Empleado' }}</span>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-start mt-4">
                    <div class="row">
                        <div class="col-md-6 mb-1">
                            <div class="container-input">
                                <label> Nombres </label>
                                <div class="input-box shadow-sm">
                                    <div class="icon">
                                        <i class="bi bi-person-standing"></i>
                                    </div>
                                    <input class="input" type="text" autocomplete="off"
                                        (keypress)="onLettersWithSpacesKeyPress($event, 50)" formControlName="nombres">
                                </div>
                                @if (nombres.invalid && (nombres.dirty || nombres.touched)) { 
                                    @if (nombres.errors?.['required']) {
                                        <span class="input-helper">Campo requerido</span>
                                    } @else if (nombres.errors?.['maxlength']) {
                                        <span class="input-helper">Máximo 50 carácteres</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-6 mb-1">
                            <div class="container-input">
                                <label> Apellidos </label>
                                <div class="input-box shadow-sm">
                                    <div class="icon">
                                        <i class="bi bi-person-standing"></i>
                                    </div>
                                    <input class="input" type="text" autocomplete="off"
                                        (keypress)="onLettersWithSpacesKeyPress($event, 50)"
                                        formControlName="apellidos">
                                </div>
                                @if (apellidos.invalid && (apellidos.dirty || apellidos.touched)) { 
                                    @if (apellidos.errors?.['required']) {
                                        <span class="input-helper">Campo requerido</span>
                                    } @else if (apellidos.errors?.['maxlength']) {
                                        <span class="input-helper">Máximo 50 carácteres</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-1">
                            <div class="container-input">
                                <label> Cédula </label>
                                <div class="input-box shadow-sm">
                                    <div class="icon">
                                        <i class="pi pi-id-card"></i>
                                    </div>
                                    <input class="input" type="text" autocomplete="off"
                                        (keypress)="onNumberKeyPress($event, 20)" formControlName="cedula">
                                </div>
                                @if (cedula.invalid && (cedula.dirty || cedula.touched)) {  
                                    @if (cedula.errors?.['required']) {
                                        <span class="input-helper">Campo requerido</span>
                                    } @else if (cedula.errors?.['maxlength']) {
                                        <span class="input-helper">Máximo 20 carácteres</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-6 mb-1">
                            <div class="container-input">
                                <label> Correo </label>
                                <div class="input-box shadow-sm">
                                    <div class="icon">
                                        <i class="pi pi-envelope"></i>
                                    </div>
                                    <input class="input" type="text" autocomplete="off"
                                        (keypress)="onValidateMaxLength($event, 100)" formControlName="correo">
                                </div>
                                @if (correo.invalid && (correo.dirty || correo.touched)) { 
                                    @if (correo.errors?.['required']) {
                                        <span class="input-helper">Campo requerido</span>
                                    } @else if (correo.errors?.['email']) {
                                        <span class="input-helper">Formato invalido</span>
                                    } @else if (correo.errors?.['maxlength']) {
                                        <span class="input-helper">Máximo 20 carácteres</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-1">
                            <div class="container-input">
                                <label> Usuario </label>
                                <div class="input-box shadow-sm">
                                    <div class="icon">
                                        <i class="pi pi-user"></i>
                                    </div>
                                    <input class="input" type="text" autocomplete="off" formControlName="usuario">
                                </div>
                                @if (usuario.invalid && (usuario.dirty || usuario.touched)) { 
                                    @if (usuario.errors?.['required']) {
                                        <span class="input-helper">Campo requerido</span>
                                    } @else if (usuario.errors?.['maxlength']) {
                                        <span class="input-helper">Máximo 50 carácteres</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-6 mb-1">
                            <div class="container-input">
                                <label> Contraseña </label>
                                <div class="input-box shadow-sm">
                                    <div class="icon">
                                        <i class="pi pi-lock"></i>
                                    </div>
                                    <input class="input" [type]="passwordVisible() ? 'text' : 'password'" autocomplete="off"
                                        formControlName="contrasena">
                                    <div class="icon bg-transparent">
                                        <i [class]="passwordVisible() ? 'pi-eye-slash': 'pi-eye'"
                                            class="pi text-black fs-6" (click)="alternarPassword()"></i>
                                    </div>
                                </div>
                                @if (contrasena.invalid && (contrasena.dirty || contrasena.touched)) {
                                    @if (contrasena.errors?.['required']) {
                                        <span class="input-helper">Campo requerido</span>
                                    } @else if (contrasena.errors?.['maxlength']) {
                                        <span class="input-helper">Máximo 255 carácteres</span>
                                    } @else if(contrasena.errors?.['passwordStrength']){
                                        <span class="input-helper">Mínimo: Mayúscula, Minúscula, Carácteres especiales, 8-20 Caracteres Alfanuméricos.</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-1">
                            <div class="container-input">
                                <label> Dirección </label>
                                <div class="input-box shadow-sm">
                                    <div class="icon">
                                        <i class="pi pi-map-marker"></i>
                                    </div>
                                    <input class="input" type="text" autocomplete="off"
                                        (keypress)="onValidateMaxLength($event, 255)" formControlName="direccion">
                                </div>
                                @if (direccion.invalid && (direccion.dirty || direccion.touched)) { 
                                    @if (direccion.errors?.['required']) {
                                        <span class="input-helper">Campo requerido</span>
                                    } @else if (direccion.errors?.['maxlength']) {
                                        <span class="input-helper">Máximo 255 carácteres</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-6 mb-1">
                            <div class="container-btn">
                                <button type="submit" class="btn-custom shadow-sm">
                                    @if (loading()) {
                                        <div class="spinner-border spinner-border-sm">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    } @else {
                                        <span>{{title}}</span>
                                    }
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>