section {
    padding: 5px;
    font-family: monospace;
}

.container {
    height: 570px;
    padding: 1rem;
    border: 1px groove #555;
}

.row .col img {
    width: 25px;
}

.row-header {
    font-size: small;
}

main {
    height: 415px;
    overflow-y: auto;
    overflow-x: hidden;
}

main .title {
    font-size: 1.4rem;
}

main section fieldset {
    border: 1px dotted #c4c1c1;
    padding: .5rem;
    margin-bottom: 1rem;
}

main section fieldset legend {
    font-size: .980rem;
    margin-bottom: .6rem;
    font-weight: 500;
}

main section fieldset div {
    display: flex;
    align-items: center;
}

main section fieldset div input {
    margin-left: 1rem;
}

main section fieldset div label {
    font-size: .740rem;
    margin-left: .5rem;
    cursor: pointer;
    user-select: none;
}

.btn-custom {
    width: 2rem;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.btn-custom i {
    font-size: large;
    color: black;
}
