.card {
    max-width: 290px;
    padding: .3rem;
    background-color: var(--orange-custom);
}

.card-body {
    background-color: white;
    border-radius: 0 65px 0;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container-icon {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    opacity: .9;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 0px 1px,
        rgba(0, 0, 0, 0.3) 1px 1px .1px -.3px,
        rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}

.container-icon i {
    color: white;
    font-weight: 900;
}

.content {
    margin-top: 0.75rem;
    text-align: center;
}

.title {
    color: var(--black-custom);
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
}

.message {
    margin-top: 0.5rem;
    color: #303238;
    font-size: small;
    line-height: 1.25rem;
}

.actions {
    margin: 0.75rem 1rem;
    background-color: #F9FAFB;
}

button {
    height: 2.5rem;
    margin-top: 1.5rem;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 0px 1px,
        rgba(0, 0, 0, 0.3) 1.5px 1.5px .1px -.3px,
        rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}