<section class="container-fluid h-100 background-custom text-center p-0">

    <div class="p-5 container-banner-top text-start">
        <div>
            <p class="font-raleway fw-semibold">Descubre Tu Próxima Oportunidad</p>
            <app-title title="Aplica a las Mejores Plazas de Trabajo!" />
        </div>
    </div>

    <div class="d-flex justify-content-center align-content-center">
        <div class="card mx-5 mx-md-5 rounded-3 text-black overflow-hidden border-0 p-1">
            <div class="card-body py-5 px-md-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-11">
                        <span class="fw-bold mb-4 fs-3 font-raleway">Sign up now</span>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-start mt-3">
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <div class="container-input">
                                        <label> Nombres </label>
                                        <div class="input-box rounded-1 shadow-sm">
                                            <div class="icon">
                                                <i class="bi bi-person-standing"></i>
                                            </div>
                                            <input class="input" type="text" autocomplete="off"
                                                (keypress)="onLettersWithSpacesKeyPress($event, 50)"
                                                formControlName="nombres">
                                        </div>
                                        @if (nombres.invalid && (nombres.dirty || nombres.touched)) { <span
                                            class="input-helper">Campo requerido</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="container-input">
                                        <label> Apellidos </label>
                                        <div class="input-box rounded-1 shadow-sm">
                                            <div class="icon">
                                                <i class="bi bi-person-standing"></i>
                                            </div>
                                            <input class="input" type="text" autocomplete="off"
                                                (keypress)="onLettersWithSpacesKeyPress($event, 50)"
                                                formControlName="apellidos">
                                        </div>
                                        @if (apellidos.invalid && (apellidos.dirty || apellidos.touched)) { <span
                                            class="input-helper">Campo requerido</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <div class="container-input">
                                        <label> Cédula </label>
                                        <div class="input-box rounded-1 shadow-sm">
                                            <div class="icon">
                                                <i class="pi pi-id-card"></i>
                                            </div>
                                            <input class="input" type="text" autocomplete="off"
                                                (keypress)="onNumberKeyPress($event, 20)" formControlName="cedula">
                                        </div>
                                        @if (cedula.invalid && (cedula.dirty || cedula.touched)) { <span
                                            class="input-helper">Campo requerido</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="container-input">
                                        <label> Correo </label>
                                        <div class="input-box rounded-1 shadow-sm">
                                            <div class="icon">
                                                <i class="pi pi-envelope"></i>
                                            </div>
                                            <input class="input" type="text" autocomplete="off"
                                                (keypress)="onValidateMaxLength($event, 100)" formControlName="correo">
                                        </div>
                                        @if (correo.invalid && (correo.dirty || correo.touched)) { <span
                                            class="input-helper">Campo requerido</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <div class="container-input">
                                        <label> Usuario </label>
                                        <div class="input-box rounded-1 shadow-sm">
                                            <div class="icon">
                                                <i class="pi pi-user"></i>
                                            </div>
                                            <input class="input" type="text" autocomplete="off"
                                                formControlName="usuario">
                                        </div>
                                        @if (usuario.invalid && (usuario.dirty || usuario.touched)) { <span
                                            class="input-helper">Campo requerido</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="container-input">
                                        <label> Contraseña </label>
                                        <div class="input-box rounded-1 shadow-sm">
                                            <div class="icon">
                                                <i class="pi pi-lock"></i>
                                            </div>
                                            <input class="input" type="password" autocomplete="off"
                                                formControlName="contrasena">
                                        </div>
                                        @if (contrasena.invalid && (contrasena.dirty || contrasena.touched)) { <span
                                            class="input-helper">Campo requerido</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <div class="container-input">
                                        <label> Dirección </label>
                                        <div class="input-box rounded-1 shadow-sm">
                                            <div class="icon">
                                                <i class="pi pi-map-marker"></i>
                                            </div>
                                            <input class="input" type="text" autocomplete="off"
                                                (keypress)="onValidateMaxLength($event, 255)"
                                                formControlName="direccion">
                                        </div>
                                        @if (direccion.invalid && (direccion.dirty || direccion.touched)) { <span
                                            class="input-helper">Campo requerido</span>
                                        }

                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="container-btn">
                                        <button type="submit" class="btn-custom rounded-1 shadow-sm">
                                            @if (loading()) {
                                            <div class="spinner-border spinner-border-sm">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            } @else {
                                            <span>Registrarse</span>
                                            }
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-5 container-banner-bottom"></div>

</section>