.container-banner-top {
    height: 300px;
    background: url('../../../../../../assets/image/postulante-registrar-banner-1.png') no-repeat center;
    background-size: cover;
    mask-image: linear-gradient(to bottom, black 50%, transparent 85%)
}

.container-banner-bottom {
    height: 300px;
    background: url('../../../../../../assets/image/postulante-registrar-banner-2.png') no-repeat bottom;
    background-size: cover;
    mask-image: linear-gradient(to top, black 65%, transparent 100%)
}

.container-banner-top div p {
    font-size: 2.4rem;
    line-height: 40px;
}

.card {
    position: relative;
    width: 70%;
    z-index: 9999;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 1px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    margin-top: -120px;
    margin-bottom: -50px;
    padding: .4rem;
    background-color: var(--orange-custom);
}

.card-body {
    background-color: white;
    border-radius: 0 120px 0;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container-btn {
    margin-top: 1.7rem;
}

.icon .text-black {
    cursor: pointer;
}

@media (width < 777px) {
    .card {
        padding: .2rem;
    }

    .card-body {
        border-radius: 0;
    }
}