@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeicons/primeicons.css";

:root {
    --orange-custom: #D95747;
    --yellow-custom: #FFD873;
    --green-custom: #5B9761;
    --blue-custom: #4377E7;
    --white-custom: #F5F5F5;
    --black-custom: #333333;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--black-custom) white;
}

@font-face {
    font-family: 'panichesta';
    src: url('./assets/fonts/panichesta.otf');
}

@font-face {
    font-family: 'astonpoliz';
    src: url('./assets/fonts/astonpoliz.otf');
}

.font-panichesta {
    font-family: 'panichesta', sans-serif;
}

.font-astonpoliz {
    font-family: 'astonpoliz', sans-serif;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.bg-black-custom {
    background-color: var(--black-custom);
}

.bg-blue-custom {
    background-color: var(--blue-custom);
}

.bg-orange-custom {
    background-color: var(--orange-custom);
}

.bg-green-custom {
    background-color: var(--green-custom);
}


/* ğ—–ğ—¼ğ—¹ğ—¼ğ—¿ğ˜€ ğ˜ƒğ—®ğ—¹ğ—¶ğ—±ğ—®ğ˜ğ—¼ğ—¿ğ˜€ */

.ng-invalid:not(form).ng-touched {
    border-radius: 3px;
    border-right: 7px solid var(--orange-custom);
}


/* ğ—•ğ—®ğ—°ğ—¸ğ—´ğ—¿ğ—¼ğ˜‚ğ—»ğ—± ğ—½ğ—²ğ—¿ğ˜€ğ—¼ğ—»ğ—®ğ—¹ğ—¶ğ˜‡ğ—®ğ—±ğ—¼ */

.background-custom {
    background:
        linear-gradient(135deg, #0000 18.75%, #F5F5F5 0 31.25%, #0000 0),
        repeating-linear-gradient(45deg, #F5F5F5 -6.25% 6.25%, #ffffff 0 18.75%);
    background-size: 100px 100px;
    background-attachment: fixed;
    background-position: center;
}

/*
.background-custom {
    background: #F5F5F5;
    background-size: 100px 100px;
    background-attachment: fixed;
    background-position: center;
}*/



/* ğ—–ğ˜‚ğ˜€ğ˜ğ—¼ğ—º ğ—œğ—»ğ—½ğ˜‚ğ˜ */

.container-input {
    width: 100%;
    height: 70px;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
}

.container-input label {
    margin-left: 1px;
    margin-bottom: 4px;
    font-size: .655rem;
    font-weight: 500;
    color: var(--black-custom);
}

.container-input .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 1px solid var(--black-custom);
    /* border-radius: 0.25rem; */
    gap: 1px;
}

.container-input .input-box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    height: 1.5rem;
    /* border-end-start-radius: 0.25rem;
    border-top-left-radius: 0.25rem; */
    background-color: var(--black-custom);
    margin-left: 2px;
}

.container-input .input-box .icon i {
    font-size: .750rem;
    color: var(--white-custom);
}

.container-input .input-box input,
.container-input .input-box select,
.container-input .input-box textarea {
    width: 100%;
    padding: 0 9px;
    font-size: .70rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    border: 0;
    outline: none;
    color: black;
}

.container-input .input-helper {
    margin-left: 1px;
    margin-top: 9px;
    font-size: .6rem;
    font-weight: 500;
    color: var(--orange-custom);
    transform: translateY(-.5rem);
}


/* ğ—–ğ˜‚ğ˜€ğ˜ğ—¼ğ—º ğ—•ğ˜‚ğ˜ğ˜ğ—¼ğ—º */

.btn-custom {
    width: 100%;
    height: 1.8rem;
    padding: .3rem 1rem;
    color: white;
    background-color: var(--black-custom);
    font-family: 'astonpoliz', sans-serif;
    font-size: small;
    text-transform: capitalize;
    border: none;
    /* border-radius: 0.25rem; */
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 225ms;
}

.btn-custom:hover {
    background-color: #000;
}

.btn-custom:active {
    background-color: #666;
    transform: scale(.995);
}

.container-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 3px 5px;
}

.container-actions button {
    width: auto;
    height: auto;
    padding: .3rem 1rem;
    color: black;
    background-color: white;
    border: 1px solid black;
    outline: none;
    display: flex;
    transition: ease-in-out 225ms;
    transition: box-shadow .4s ease-in-out;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 0px 1px,
        rgba(0, 0, 0, 0.3) 1.5px 1.5px .1px -.3px,
        rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}

.container-actions button:hover {
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 0px 1px,
        rgba(0, 0, 0, 0.3) 2px 2px .1px -.3px,
        rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}

.container-actions button i {
    font-size: small;
    font-weight: 550;
}


.btn-search {
    background-color: var(--blue-custom) !important;
    color: white !important;
}

.btn-edit {
    background-color: var(--green-custom) !important;
    color: white !important;
}

.btn-delete {
    background-color: var(--orange-custom) !important;
    color: white !important;
}
