@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
    --orange-custom: #D95747;
    --yellow-custom: #FFD873;
    --green-custom: #5B9761;
    --blue-custom: #4377E7;
    --white-custom: #F5F5F5;
    --black-custom: #333333;
}

.bg-black-custom {
    background-color: var(--black-custom);
}

.bg-blue-custom {
    background-color: var(--blue-custom);
}

.bg-orange-custom {
    background-color: var(--orange-custom);
}

body {
    scrollbar-color: var(--black-custom) var(--white-custom);
}

@font-face {
    font-family: 'panichesta';
    src: url('./assets/fonts/panichesta.otf');
}

@font-face {
    font-family: 'astonpoliz';
    src: url('./assets/fonts/astonpoliz.otf');
}


.font-panichesta {
    font-family: 'panichesta', sans-serif;
}

.font-astonpoliz {
    font-family: 'astonpoliz', sans-serif;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

/* Custom Input */

.container-input {
    width: 100%;
    height: 70px;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
}

.container-input label {
    font-size: .655rem;
    font-weight: 500;
    color: var(--black-custom);
    margin-bottom: 4px;
    margin-left: 1px;
}

.container-input .input-box {
    border: 1px solid var(--black-custom);
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.container-input .input-box .icon {
    width: 1.5rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-custom);
    margin-left: 2px;
}

.container-input .input-box .icon i {
    color: var(--white-custom);
    font-size: small;
}

.container-input .input-box input,
.container-input .input-box select {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    border: 0;
    font-size: .70rem;
    padding: 0 9px;
    outline: none;
    color: black;
    font-weight: 500;
}

.container-input .input-helper {
    color: var(--orange-custom);
    font-size: .6rem;
    margin-top: 9px;
    margin-left: 1px;
    font-weight: 500;
    transform: translateY(-.5rem);
}


/* Custom Buttom */

.btn-custom {
    width: 100%;
    height: 1.8rem;
    color: white;
    background-color: var(--black-custom);
    font-family: 'astonpoliz', sans-serif;
    font-size: small;
    text-transform: capitalize;
    padding: .3rem 1rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 225ms;
}

.btn-custom:hover {
    background-color: #000;
}

.btn-custom:active {
    background-color: #666;
    transform: scale(.995);
}

.btn-options {
    height: 1.5rem;
}

.btn-view {
    background-color: var(--blue-custom);
}

.btn-edit {
    background-color: var(--green-custom);
}

.btn-delete {
    background-color: var(--orange-custom);
}


/*Colors validators*/

.ng-invalid:not(form).ng-touched {
    border-radius: 3px;
    border-right: 7px solid var(--orange-custom);
}


/* Background personalizado */
.background-custom {
    background:
        linear-gradient(135deg, #0000 18.75%, #F5F5F5 0 31.25%, #0000 0),
        repeating-linear-gradient(45deg, #F5F5F5 -6.25% 6.25%, #ffffff 0 18.75%);
    background-size: 100px 100px;
    background-attachment: fixed;
    background-position: center;
}