<section class="container-fluid vh-100 background-custom p-2">
    <div class="w-100 bg-orange-custom rounded-2 p-3">
        <div class="row-cols-2">
            <div class="rounded-circle bg-white shadow">
                <img src="assets/image/logo.png" alt="">
            </div>
        </div>
    </div>

    <app-postulante-carousel></app-postulante-carousel>

    <div class="w-100 bg-light rounded-2 shadow text-center">
        <span>Plazas Laborales</span>
        <div class="row row-cols-3"></div>
        <div class="">
            <span class="font-panichesta display-5">140+</span>
            <p class="font-astonpoliz">Plazas</p>
        </div>
    </div>

</section>