<div class="bg-light">
    <section class="section-header">
        <app-postulante-nav />
    </section>
    
    <section class="hero d-flex justify-content-center align-items-center text-white text-center">
        <div class="hero-content">
            <h1>Oportunidades de Trabajo</h1>
            <p>Únete a nuestro equipo y desarrolla tu carrera profesional</p>
            <button type="submit" class="btn-custom py-3 mt-4 fs-6">
                Get Started
            </button>
        </div>
    </section>
    
    <section>
        <app-postulante-card-servicios />
    </section>
    
    <main>
        <app-section-plazas-laborales />
    </main>

    <section class="mt-5">
        <app-postulante-footer />
    </section>
</div>