<section class="">
    <footer class="text-center text-white" style="background-color: #D95747;">
        <div class="container p-4 pb-0">
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="fs-6">¡Somos más que una empresa!</span>
                </p>
            </section>
        </div>
        <div class="text-center p-3 small" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024Copyright: Todos los derechos reservados
        </div>
    </footer>
</section>