<div class="container-fluid w-100 p-3">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row row-cols-2">
            <div class="container-input h-auto col-9 col-lg-10 bg-white pe-0">
                <div class="input-box shadow-sm">
                    <div class="icon">
                        <i class="pi pi-search"></i>
                    </div>
                    <input class="input" type="text" autocomplete="off" formControlName="tipo" placeholder="Tipo de permiso">
                </div>
                @if (tipo.invalid && (tipo.dirty || tipo.touched)) {
                    @if (tipo.errors?.['required']) {
                        <span class="input-helper">Campo requerido</span>
                    } @else if (tipo.errors?.['maxlength']) {
                        <span class="input-helper">Máximo 50 carácteres</span>
                    }
                }
            </div>
            <div class="col-3 col-lg-2">
                <button type="submit" class="btn-custom py-3 shadow-sm">
                    @if (loading()) {
                        <div class="spinner-border spinner-border-sm">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    } @else {
                        <i class="pi pi-plus-circle"></i>
                    }
                </button>
            </div>
        </div>
    </form>

    @if (loading()) {
    <div class="container-progress my-2">
        <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
    </div>
    }

    <div class="container-table mt-1">

        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="tipo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.tipo}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="fechaIng">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Registro</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fechaIng | date:"MMM dd, yyy"}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" class="table-header"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
    </div>

</div>